header {
  align-items: center;
  display:flex;
  flex-direction: column;
  background-image: url("https://web.archive.org/web/20140228114747im_/http://images.apple.com/v/home/as/images/your_verse_hero.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  max-width: 100vw;
  min-height: 78vh;
  margin: auto;
}

.navbar a {
  padding: 10px 10px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
  background:
    linear-gradient(
      rgba(138, 138, 138, 1) 0%,
      rgba(123, 123, 123, 1) 26%,
      rgba(115, 115, 115, 1) 47%,
      rgba(95, 95, 95, 1) 48%,
      rgba(99, 99, 99, 1) 77%,
      rgba(111, 111, 111, 1) 100%
  );
  text-decoration: none;
}

.navbar input:: placeholder {
  color: white;
}

#search-bar {
  background:
    linear-gradient(
      rgba(138, 138, 138, 1) 0%,
      rgba(123, 123, 123, 1) 26%,
      rgba(115, 115, 115, 1) 47%,
      rgba(95, 95, 95, 1) 48%,
      rgba(99, 99, 99, 1) 77%,
      rgba(111, 111, 111, 1) 100%
  );
  background-image: url("./images/glass.PNG");
  background-position: 2% 98%;
  background-size:contain;
  background-repeat: no-repeat;
  text-indent: 18px;
  border-radius: 10px;
}

.navbar{
  margin-top: 10vh;
}

.navbar span {
  background:
    linear-gradient(
      rgba(138, 138, 138, 1) 0%,
      rgba(123, 123, 123, 1) 26%,
      rgba(115, 115, 115, 1) 47%,
      rgba(95, 95, 95, 1) 48%,
      rgba(99, 99, 99, 1) 77%,
      rgba(111, 111, 111, 1) 100%
  );
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 10px 10px 10px 10px;
}

.promo-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#Button1 {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.text-in-image {
  color: white;
  display: flex;
  flex-direction: column;
}

.text-in-image h1 {
  font-size: 70px;
  font-weight: lighter;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  margin-top: 50px;
  max-width: 1440px;
}

.text-in-image span {
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  max-width: 1440px;
  margin: 50px 0 40px 0;
}

.text-in-image p {
  font-size: 25px;
  font-weight: lighter;
  text-align: center;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  max-width: 1440px;
}

#play-image {
  height: 34px;
  width: 30px;
}
.page-footer {
  display: flex;
  flex-direction: row;font-family;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.page-footer a {
  color: #0088cc;
  text-decoration: none;
}

.page-footer a,
#contry-f{
  padding-left: 12.5px;
  padding-right: 12.5px;
}

.page-footer p, .page-footer li {
  height: 0;
  margin: 0;
  display: inline;
  justify-content: center;
}

.page-footer li:hover,
.page-footer a:hover {
  text-decoration: underline;
}

#contry-flag {
  column-rule-color: blue;
  height: 20px;
  width: 20px;
}

#privacy-link,
.extra-info {
  border-right: 1px solid #6E6E6E;
}

#hola {
  border-left: 1px solid #6E6E6E;
}
